.search-bar{
	max-width: 484px;
	height: 44;
	border-radius: 2;
}


a{
	font-family: Arial;
	font-size: 12px;
	text-decoration: none;
	color: black;
}

a:hover{
	text-decoration: underline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
}


.nav-bar-bot ul {
    background-color: #f2f2f2;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.right{
	float: right;
}